#Directories
export PKGDIR='/var/db/pkgs'
export SRCDIR='/var/tmp/otto'
export HIUSR='/usr/local'
export LOUSR='/usr'
export BIN='/bin'
export HIUSRBIN=$HIUSR$BIN
export LOUSRBIN=$LOUSR$BIN
export SRCDIR='$USRDIR/src'

#Options
export MIRROR='https://luiznet.tk/otto/packages'
export AUTOCLEAN='NO' #'YES' para limpar automaticamente arquivos da compilação
export MKPREFIX='/usr'
export HKERNEL=`uname`

#CPUFLAGS
export CFLAGS="" #Deve ser definida de acordo com seu processador (vide documentação)
export CXXFLAGS=${CFLAGS}
export KCFLAGS=${CFLAGS}

#MAKEFLAGS
export MAKEFLAGS="-j$[$(nproc)*2]"

