# Directories
export PKGDIR='/var/otto/pkg'
export HIUSR='/usr/local'
export LOUSR='/usr'
export BIN='/bin'
export ETC='/etc'
export HIUSRBIN="$HIUSR$BIN"
export LOUSRBIN="$LOUSR$BIN"
export HIETC="$HIUSR$ETC"
export LOETC="$ETC"
export HISRCDIR="$HIUSR/src"
export LOSRCDIR='/var/otto/src'

# Options
export MIRROR='https://luiznet.tk/otto/packages'
export AUTOCLEAN='NO' # 'YES' for cleaning automatically compilation files (source-code and sort of).
export EDITOR='vim' # Vim is the default editor on Copacabana.
export SYNC_TYPE='bittorrent' # If torrents are too slow, you can use 'http'/'ftp' instead.
export MKPREFIX=$USRDIR # Don't change this.

# CPUFLAGS
export CFLAGS=""
export CXXFLAGS=${CFLAGS}
export KCFLAGS=${CFLAGS}

# MAKEFLAGS
export MAKEJOBS="'-j' `/usr/bin/nproc`"
export MAKEFLAGS="$MAKEJOBS"

